<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %> • FreshTax</title>
    <meta name="description" content="<%= meta_description %>">

    <meta property="og:title" content="<%= current_page.data.title %>">
    <meta property="og:site_name" content="FreshTax - Steuerberatung">
    <meta property="og:url" content="<%= page_url %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#222222">

    <link rel="canonical" href="<%= page_url %>">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <%= stylesheet_link_tag "site" %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176040335-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-176040335-1');
    </script>

  </head>
  <body class="has-navbar-fixed-top">

    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">

          <%= nav_link('Fresh.Tax', '/', class: 'navbar-item') %>

          <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">

            <%= nav_link('Leistungen', '/leistungen/', class: 'navbar-item') %>
            <%= nav_link('Team', '/team/', class: 'navbar-item') %>
            <%= nav_link('Kontakt', '/kontakt/', class: 'navbar-item') %>

          </div>
        </div>
      </div>
    </nav>

    <main aria-label="Content">

      <% if content_for?(:hero) %>

        <section class="hero is-fullheight-with-navbar">
          <div class="hero-body">
            <div class="container has-text-centered content">
              <%= yield_content :hero %>
              <%= yield %>
            </div>
          </div>
        </section>

      <% else %>

        <section class="section">
          <div class="container content">
            <%= yield %>
          </div>
        </section>

        <section class="hero is-large <%= current_page.url.gsub('/', '') %>"><div class="hero-body"></div></section>

      <% end %>

    </main>

    <footer class="footer">
      <div class="content has-text-centered is-size-7">
        <p>&copy; FreshTax <%= Date.today.strftime('%Y') %></p>

        <a href="https://www.ksw.or.at/PortalData/1/Resources/aab/AAB_2018_de.pdf" target="_blank" rel="noopener">
          <i class="far fa-fw fa-file-pdf"></i>
          Allgemeine Auftragsbedingungen für Wirtschaftstreuhandberufe
        </a>
        <br>
        <%= nav_link('Kontakt', '/kontakt/') %>&nbsp;
        <%= nav_link('Impressum', '/impressum/') %>

        <!-- <a href="https://www.facebook.com/www.freshtax.at" target="_blank">
          <span class="icon"><i class="fab fa-facebook-square"></i></span>
        </a> -->
      </div>
    </footer>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= javascript_include_tag "site" %>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
