<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "FreshTax" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700" %>
  </head>
  <body class="has-navbar-fixed-top">

    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <%= nav_link('FreshTax', '/', class: 'navbar-item') %>

          <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">

            <%= nav_link('Leistungen', '/leistungen/', class: 'navbar-item') %>
            <%= nav_link('Team', '/team/', class: 'navbar-item') %>
            <%= nav_link('Kontakt', '/kontakt/', class: 'navbar-item') %>

          </div>
        </div>
      </div>
    </nav>

    <main aria-label="Content">

      <section class="section">
        <div class="container content">
          <%= yield %>
        </div>
      </section>

      <% if content_for?(:hero) %>
        <section class="hero is-medium">
          <div class="hero-body">
            <div class="container">
              <div class="columns">
                <div class="column is-5 is-offset-7 card">
                  <div class="card-content content">
                    <%= yield_content :hero %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      <% end %>

    </main>

    <footer class="footer">
      <div class="content has-text-centered is-size-7">
        <p>&copy; FreshTax <%= Date.today.strftime('%Y') %></p>

        <%= nav_link('Kontakt', '/kontakt/') %>&nbsp;
        <%= nav_link('Impressum', '/impressum/') %>

        <!-- <a href="https://www.facebook.com/www.freshtax.at" target="_blank">
          <span class="icon"><i class="fab fa-facebook-square"></i></span>
        </a> -->
      </div>
    </footer>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= javascript_include_tag "site" %>
  </body>
</html>
